.recommend-card{
    /* border: 1px solid black; */
    text-align: center;
    
}

.recommend-card img{   
   width: 100%;
   object-fit: contain;
   background-color: whitesmoke;
   padding: 15px;
}

.recommend-card .cardAction-box{
    background-color: rgb(94 131 149)
}