.recommend-card{
    /* border: 1px solid black; */
    text-align: center;
    
}

.recommend-card img{   
   width: 100%;
   object-fit: contain;
   background-color: rgb(189, 32, 32);
   padding: 15px;
   background-image: url(/public/images/bg-recommendationCard.jpg);
}

.recommend-card .cardAction-box{
    background-color: rgb(12 46 89)
}