.recommend-card {
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.recommend-card img {
    width: 100%;
    object-fit: contain;
    padding: 15px;
    background-image: url(/public/images/bg-recommendationCard.jpg);
}

.recommend-card .cardAction-box {
    background-color: rgb(12 46 89);
    border-radius: 5px;

}

.icn-view-more{
    margin-left: 0;
}
