*{
  box-sizing: border-box;
}

.header {
    background-color: #FFF;
    padding: 10px;
    display: flex;
    position: sticky;
    top: 0;  
    z-index: 100;
  }
  
  .logo-header {
    margin-right: auto;
  }
  
  .logo-header img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }

  .logo-header span {

    font-size: 0.8rem;
    font-weight: bold;
    text-align: left;
  
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar ul li {
  padding: 10px;
  margin: 0 10px;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
  }

  .navbar ul li:hover {
  background-color: #95bbfb;
  }

  .navbar a {
    color: #333;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6875rem;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: #158759; 
  }

.icon-theme{
    margin-left: auto;
    padding: 4px;
    width: 50px;

}


.header-buttons button {
  margin-right: 10px;
  border-radius: 4px;
  background: linear-gradient(to bottom, #1bb275 0%, #169d6b 100%);
  color: #fff;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6875rem;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.header-buttons button:hover {
  background: linear-gradient(to bottom, #169d6b 0%, #1bb275 100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header-buttons button:active {
  background: linear-gradient(to bottom, #169d6b 0%, #1bb275 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}

.header-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

/* 
.layout-dark .navbar{
    background-color: #666;
}

.layout-dark .navbar ul li{
    border-right: 1px dashed rgb(201, 200, 200);
}

.layout-dark .navbar ul li:hover{
    background-color: #3d3535;
}

.layout-dark .navbar ul li:last-child{
    border-right: 0;
}

.layout-dark .navbar ul li a{
    color: #ccc;
}


.layout-dark .navbar ul li a:hover{
    color: #726b6b;
}

 */


