*{
  box-sizing: border-box;
}

.logo-header {
  display: flex;
  align-items: center;
}

.logo-image {
  max-height: 50px; /* Adjust this value as needed */
  width: auto;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 16px; /* Adjust the gap between buttons as needed */
}

.header-buttons a {
  text-decoration: none;
}
