

/*ESTILOS PARA MUI*/

.recommended {
  margin-top: 2rem;
  width: 35%;
}

.titles {
  text-align: center;
  margin-bottom: 2rem;
}

.recommendation-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}