.recommended {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recommended .titles{
  max-width: 50%;
}

.recommended .recommendation-cards{
  display: grid;
  grid-template-columns: 80ch 80ch;
}