/* .detailHeader{
  margin-top: 4rem;
  text-align: center;
  background-color: #D9D9D9;
  color: #102C5B;
  padding: 1.2rem 2rem 1.2rem 2rem;
}

.detailHeader button{
  position: absolute;
  border: none;
  left: 2rem;
  font: inherit;
  font-size: 3rem;
  outline: none;
  background: none;
}

.detailHeader button:hover{
  color: grey;
  cursor: pointer;
}

.detailBody{
  display: flex;
  gap: 2rem;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.detailBody img{
  width: 30vw;
  border-radius: 5px;
}

.detailBodyRight{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.detailBody button{
  border: none;
  left: 2rem;
  outline: none;
  background: none;
  color: white;
} */

.doctor-info{
  margin-top: 100px;
  display: flex;
}

.detailHeader{
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  padding: 5px;
  background-color: #63c0bb;
}

.detailHeader > * {
  margin-right: 10px;
}

.detailHeader h2 {
  flex: 1;
  text-align: center;
}