

.doctor-detail{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.detailHeader{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;
  background-color: #63c0bb;
}

.detailHeader > * {
  margin-right: 10px;
}

.detailHeader h2 {
  flex: 1;
  text-align: center;
}

.detailBody{
  display: flex;
  width: 100%;
  margin-top: inherit;
  padding: 1rem;
  background-image: url(/images/bg-recommendationCard.jpg);
  border-radius: 5px;
  border-left: 10px;
  flex-grow: 2;
  background-size: cover;
}

.detailBody img{
  border-style: outset;
  border-color: #102C5B;
  border-radius: 15px; 
}

.doctor-data {
  display: flex;
  align-items: stretch;
  padding: 2rem;
}

.doctor-data h3{
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  margin: 15px;
  color: #102C5B;
}

.doctor-data p{
  font-size: medium;
  margin: 15px;
  text-align: justify;
}

.calendarDate{
  background-color: red;
  margin-left: 40%;
  width: 20%;
}
.detailFeatures{
  display: table-row-group;
  flex-grow: 1;
  width: 100%;
}

