.grid-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 1rem;
  width: fit-content;
}

.grid-item {
  display: flex;
  border: 1px solid #ccc;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.grid-item > p {
  display: flex;
  padding-right: 0.3rem;
}

.admin-add-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup p {
  margin-bottom: 10px;
}

.popup button {
  margin-right: 10px;
}

.trashcan{
  width: 15px;
  height: 15px;
}
