/* .search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 1579px;
    height: 650px;
  }
  
  .search input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
  }
  
  .search button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  } */