.search-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  background-image: url('./images/bg-search.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center
}


.search-container .titles {
    justify-content: right;
    line-height: 60px;
    color: #FFF;
    flex-shrink: 0;
    align-items: right;
    
}
  
.search-container .titles h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.search-container .titles h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.search-container .search-bar{
  background-color: red;
  display: flex;
  align-items: center;
}

.search-container .search-bar .dropdown-bar{
  display: flex;
  margin: auto;
}

.search-container .search-bar .dropdown-bar .city{
  padding: 10px;
  margin-right: 20px;
}

.search-container .search-bar .dropdown-bar .specialty{
  margin-right: 0px;
  padding: 10px;
}

.search-button {
  display: flex;
  width: 21%;
  margin-left: auto;
  background-color: aqua;
}

.search-button button {
  padding: 10px;
  width: 100%;
  font-size: 18px;
  background-color: #1BB275;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
