.body {
    background-color: #f0f0f0; 
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  
  .box1, .box2, .box3 {
    flex: 1;
  }

  .box1 {
    background-color: red;
  }

  .box2{
    background-color: aqua;
  }

  .box3{
    background-color: green;
  }