
  
  .body {
.body {
    background-color: #FFF; 
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .body-section {
    flex-grow: 1;
    display: flex;
  }
  
  .body-section > * {
    flex-grow: 1;
  }