.add-product-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-product-form {
  display: flex;
  flex-direction: column;
}

.errorMessages {
  display: flex;
  gap: 2px;
}
