.time-slot-component {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.select {
  background-color: #aed8d7;
  border-radius: 15px;
}

.text {
  color: blue;
  font-weight: bolder;
}
/* 
.slot-list{
    border-radius: 10px;
} */
