.calendar__calendar-container{
    border: 1px;
    display: flex;
    width: 30%;
    border-radius: 15px;
}

@media (max-width: 1024px){
    .calendar__calendar-container{
        width: 90%;

    }
}