.dropdown {
    position: relative;
    display: inline-block;
    background-color: #1BB275;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url("./images/ico-arrowDropDown.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .dropdown select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 5px 10px;
    width: 100%;
    cursor: pointer;
    outline: none;
    font-size: 16px;
  }
  
  .dropdown select option {
    background-color: #e0f2f1;
    color: #333;
  }
  
  @media screen and (max-width: 600px) {
    .dropdown {
      width: 100%;
    }
  
    .dropdown select {
      font-size: 14px;
    }
  }
