/* 
  .categories-container {
    display: flex;
    height: 100%;
  }
  
  .column1 {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./images/bg-categories.jpg');
    background-size: cover;
    margin-left: 100px;    
  }
  

  .column1 h1 {
    color: #102C5B;
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
  }
  
  .column1 h2 {
    color: #1BB275;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    margin-top: auto;
  }
  
  .column1 .search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .column1 .search-button button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #1BB275;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
   .column2 {
    width: 60%;
    display: flex;
    margin: 4rem;
    justify-content: center;
  }
 */

 .categories-container {
  display: flex;
  height: 100%;
}

.column1 {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./images/bg-categories.jpg');
  background-size: cover;
  margin-left: 100px;
}

.column1 h1 {
  color: #102C5B;
  text-align: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
}

.column1 h2 {
  color: #1BB275;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  margin-top: auto;
}

.column1 .search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 20px;
}

.column1 .search-button button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #1BB275;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.column2 {
  width: 60%;
  display: flex;
  margin: 4rem;
  justify-content: center;
}

/* Querys para responsive design */

/* Pantalla grande (desktop) */
@media (min-width: 1200px) {
  .categories-container {
    padding: 40px;
  }
  .column1 {
    margin-left: 150px;
  }
  .column1 h1 {
    font-size: 48px;
    line-height: 68px;
  }
  .column1 h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .column1 .search-button {
    width: 40%;
  }
  .column2 {
    margin: 6rem;
  }
}

/* Pantalla mediana (tablet) */
@media (min-width: 768px) and (max-width: 1199px) {
  .categories-container {
    padding: 20px;
  }
  .column1 {
    margin-left: 100px;
  }
  .column1 h1 {
    font-size: 36px;
    line-height: 52px;
  }
  .column1 h2 {
    font-size: 18px;
    line-height: 27px;
  }
  .column1 .search-button {
    width: 50%;
  }
  .column2 {
    margin: 4rem;
  }
}

/* Pantalla pequeña (mobile) */
@media (max-width: 767px) {
  .categories-container {
    flex-direction: column;
    padding: 10px;
  }
  .column1 {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .column1 h1 {
    font-size: 24px;
    line-height: 36px;
  }
  .column1 h2 {
    font-size: 16px;
    line-height: 24px;
  }
  .column1 .search-button {
    width: 80%;
    margin-bottom: 10px;
  }

  .column1 .search-button button {
    padding: 8px;
    font-size: 14px;
  }

  .column2 {
    width: 100%;
    margin: 2rem;
  }

}